.user-details{
    margin-left: -1180px;
    margin-top: 20px;
}
.edit-profile-btn{
    margin-left: -1180px;
    margin-top: 20px;
}
.hi{
    margin-left: -1180px;
}
.hii{
    margin-left: -1170px;
}